.git
.gitignore
**/.env*
**/secrets/
**/.secrets/
**/credentials/
**/.credentials/
**/*.pem
**/*.key
**/*.p12
**/*.pfx
**/*.credentials
**/*.token
**/*.db
**/*.sqlite
**/*.sqlite3
**/*.sql.gz
**/*.dump*
**/*.tar*
**/*.log
bin/
tmp/
*.test
*.out
