[Unit]
Description=Padang ERP Demo reset timer

[Timer]
OnBootSec=30min
OnUnitActiveSec=30min
AccuracySec=1min
Unit=padang-demo-reset.service

[Install]
WantedBy=timers.target
